<app-menu-bar></app-menu-bar>
<header id="grad1">
<div class="card text-center"id="grad1">
  <div class="card-body">
    <h5 class="card-title" >Exam Section</h5>
    <p class="card-text">Best of luck for your exam!<br>
     </p>
      <a href="exam_selection" class="button">New Exam</a>
  <br><br>
    <h5 class="card-title">Result Section</h5>
    <p class="card-text">You can view your previously attempted exam reports here!<br>
      <br></p>
    <a href="user_report" class="button">See Report</a><br><br>
    <img src="assets\images\home1.jpeg">
  </div>    
</div>
