<app-menu-bar></app-menu-bar>
<header id="grad1">
<div class="square">
    <div class="content">
        <p>JAVA</p><br>
        <button class="button" value="java" (click)="selection(101)">Start Test</button>
    </div>
</div>
<div class="square">
    <div class="content">
        <p>PYTHON</p><br>
        <button class="button" value="python" (click)="selection(102)">Start Test</button>
    </div>
</div>
<div class="square">
    <div class="content">              
        <p>.NET</p><br>
        <button class="button" value=".net" (click)="selection(103)">Start Test</button>
    </div>
</div>
<div class="square">
    <div class="content">              
        <p>C</p><br>
        <button class="button" value="c" (click)="selection(104)">Start Test</button>
    </div>
</div>
<div class="square">
    <div class="content">              
        <p>PHP</p><br>
        <button class="button" value="php" (click)="selection(105)">Start Test</button>
    </div>
</div>

<div class="square">
    <div class="content">              
        <p>C++</p><br>
        <button class="button" value="c++" (click)="selection(106)">Start Test</button>
    </div>
</div>




