<app-menu-bar></app-menu-bar>
<body id="grad1">
      <br> <br>

      <h1 style="text-align:center">Our Team</h1>
      <br> <br>
      <div class="row">
     <div class="column">
             <div class="card">
            <img src="assets\images\WhatsApp Image 2022-06-17 at 5.07.29 PM.jpeg" alt="Bhavika" style="width: 250px">
        
            <p class="container">
            <h2>Bhavika Mittal</h2>
              <p class="title">Graduate Engineer Trainee</p>
              <p>Bhavika.Mittal@lntinfotech.com</p>
              
            </div>
          </div>
          <div class="column">
            <div class="card">
              <img src="assets\images\Priyanshu Kumar (1).png" alt="Priyanshu" style="width: 200px">
          
              <p class="container">
                <h2>Priyanshu Kumar</h2>
                <p class="title">Graduate Engineer Trainee</p>
                <p>Priyanshu1.Kumar@lntinfotech.com</p>
                
              </div>
            </div>
            <div class="column">
                <div class="card">
                  <img src="assets\images\Mrunal Shinde crop.jpeg"alt="Mrunal" style="width: 185px">
              
                  <p class="container">
                    <h2>Mrunal Shinde</h2>
                    <p class="title">Graduate Engineer Trainee</p>
                    <p>Mrunal.Shinde@lntinfotech.com</p>
                    
                  </div>
                </div>
                <div class="column">
                    <div class="card">
                      <img src="assets\images\WhatsApp Image 2022-08-22 at 8.57.03 PM.jpeg" alt="Sarvesh" style="width: 170px">
                  
                  <p class="container">
                        <h2>Sarvesh Latker</h2>
                        <p class="title">Graduate Engineer Trainee</p>
                        <p>Sarvesh.Latker@lntinfotech.com</p>
                        
                      </div>
                    </div>
                   <div class="column">
                        <div class="card">
                          <img src="assets\images\WhatsApp Image 2022-08-22 at 9.47.17 PM.jpeg" alt="Deepanshu" style="width: 152px">
                      
                          <p class="container">
                            <h2>Deepanshu </h2>
                            <p class="title">Graduate Engineer Trainee</p>
                            <p>Deepanshu.Sharma@lntinfotech.com</p>
                            
                          </div>
                        </div>
        </div>
        <router-outlet></router-outlet>
      </body>
      
       
   