<app-menu-bar></app-menu-bar>
<header id="grad1">

  <div class="card text-center" id="grad1">
    <div class="card-body">
      <h5 class="card-title">Add/Remove Question Section</h5>
      <p class="card-text">You can add and remove questions for any particular course.</p><br>
        <a href="add_question" class="btn btn-success">Add Question</a>&nbsp;&nbsp;&nbsp;
        <a href="remove_question" class="btn btn-danger">Remove Question</a><br><br><br>
        <img class="bg" src="assets\images\admin-ds.jpg">
    </div>  
      
  </div>
 